/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.v-card-item__prepend {
    margin-right: 20px
}

.v-overlay__scrim {
    opacity: 0.9;
    background: #261f2d
}